<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Conges</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Conges</li>
            </ul>
        </div>
        <div class="col-auto float-right ml-auto">
            <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_leave"><i class="fa fa-plus"></i> Demande
                Conge</a>
        </div>
    </div>
</div>
<!-- /Page Header -->

<!-- Leave Statistics -->
<div class="row">
    <div class="col-md-3">
        <div class="stats-info">
            <h6>Congé annuel</h6>
            <h4></h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="stats-info">
            <h6>Congé de maladie  {{ congeDeMaladie?.length}} </h6>
            <h4></h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="stats-info">
            <h6>Autre congé</h6>
            <h4></h4>
        </div>
    </div>
    <div class="col-md-3">
        <div class="stats-info">
            <h6>Congé restant</h6>
            <h4></h4>
        </div>
    </div>
</div>
<!-- /Leave Statistics -->


<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table mb-0 datatable">
                <thead>
                    <tr>
                        <th>Nom Employe</th>
                        <th>Leave Type</th>
                        <th>Date Debut</th>
                        <th>Date Fin</th>
                        <th >Status</th>
                        <th>Approuvé Par</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let conge of conges | paginate: { itemsPerPage: 5, currentPage: p}">
                        <td>{{conge.utilisateur?.nom}}</td>
                        <td>{{conge.type_conge}}</td>
                        <td>{{conge.date_debut | date: "dd-MM-yyyy"}}</td>
                        <td>{{conge.date_fin | date: "dd-MM-yyyy"}}</td>
                        <td>
                            <div class="dropdown action-label">
                                <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-dot-circle-o text-info"></i> Nouveau
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" (click)="changeConge(conge)">

                                    <a class="dropdown-item" value="NOUVEAU"><i class="fa fa-dot-circle-o text-info"></i> Nouveau</a>
                                    <a class="dropdown-item" value="DIMINUE"><i class="fa fa-dot-circle-o text-success"></i> Diminué</a>
                                    <a class="dropdown-item" value="APPROUVE"><i class="fa fa-dot-circle-o text-danger"></i> Approuvé</a>
                                </div>
                            </div>
                        </td>
                        <td>{{conge?.utilisateur?.login}}</td>
                        <!--<td>{{conge?.status}}</td>-->
                        
                        <!--<td>{{chefDepartement.nom}}</td>-->
                        <!-- <td>
                            <h2 class="table-avatar">
                                <a href="profile.html" class="avatar avatar-xs"><img src="http://localhost:9190/api/employe/files/{{employe.image}}" alt=""></a>
                                <a href="#">{{employe.nom}}</a>
                            </h2>
                        </td>-->
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" id="edit_cong_close"
                                        data-target="#edit_leave" (click)="patchValue(conge.id)"><i
                                            class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_approve"
                                        (click)="sendIdToDelete(conge.id)"><i class="fa fa-trash-o m-r-5"></i>
                                        Annuler</a>
                                </div>
                            </div>
                        </td>

                </tbody>
            </table>
            <pagination-controls class="my-pagination" (pageChange)="p = $event"   previousLabel="Précédent"
                    nextLabel="Suivant " ></pagination-controls>
        </div>
    </div>
</div>

<!-- Add Leave Modal -->
<div id="add_leave" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add Conge</h5>
                <button type="button" class="close" data-dismiss="modal" id="add_cong_close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formConge" (ngSubmit)="saveConge()">
                    <div class="col-sm-6">
                        <label>Employe <span class="text-danger">*</span></label>
                        <select class="select" formControlName="ID_Employe">
                            <option *ngFor='let employe of utilisateurs' value="{{employe.id}}">{{employe.nom}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label>Leave Type <span class="text-danger">*</span></label>
                        <select class="select" formControlName="type_conge">
                            <option>Select Conge Type</option>
                            <option value="Congé Occasionnel 12 jours">Congé Occasionnel 12 jours</option>
                            <option value="Congé de Maladie">Congé de Maladie</option>
                            <option value="Perte de Salaire">Perte de Salaire</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Date Debut </label>
                            <input class="form-control"  type="date" formControlName="date_debut">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Date Fin </label>
                            <input class="form-control"  type="date" formControlName="date_fin">
                        </div>
                    </div>

                   <!-- <td class="text-center">
                        <div class="dropdown action-label show">
                            <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-dot-circle-o text-success"></i> Approved
                            </a>
                            <div class="dropdown-menu dropdown-menu-right show" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-17px, 26px, 0px);">
                                <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-purple"></i> New</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-info"></i> Pending</a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#approve_leave"><i class="fa fa-dot-circle-o text-success"></i> Approved</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-dot-circle-o text-danger"></i> Declined</a>
                            </div>
                        </div>
                    </td>-->

                        <!--<div class="col-sm-6">
                            <div class="form-group">

                            <label>Status <span class="text-danger">*</span></label>
                            <select class="select" formControlName="status">
                                <option value=""></option>
                           
                            </select>
                        </div>

                        </div>

                        <div class="col-sm-6">
                        <label>Aprouve par <span class="text-danger">*</span></label>
                        
                    </div>-->
                    <div class="submit-section">
                        <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Leave Modal -->

<!-- Edit Leave Modal -->
<div id="edit_leave" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Conge</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formUpdateConge" (ngSubmit)="updateConge()">
                    <div class="col-sm-6">
                        <label>Employe</label>

                        <select class="select" formControlName="ID_Employe">
                            <option>Select employe</option>
                            <option *ngFor='let employe of utilisateurs' value="{{employe.id}}">{{employe.nom}}</option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label>Leave Type <span class="text-danger">*</span></label>
                        <select class="select" formControlName="type_conge">
                            <option>Select Conge Type</option>
                            <option value="Congé Occasionnel 12 jours">Congé Occasionnel 12 jours</option>
                            <option value="Congé de Maladie">Congé de Maladie</option>
                            <option value="Perte de Salaire">Perte de Salaire</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Date Debut </label>
                            <input class="form-control" value="" type="date" formControlName="date_debut">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-form-label">Date Debut </label>
                            <input class="form-control" value="" type="date" formControlName="date_fin">
                        </div>
                    </div>
                    

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Leave Modal -->

<!-- Delete Leave Modal -->
<div *ngFor="let conge of conges" class="modal custom-modal fade" id="delete_approve" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Supprimer Congé</h3>
                    <p>Are you sure want to Cancel this leave?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a (click)="deleteCong()" class="btn btn-primary continue-btn">Delete</a>
                        </div>
                        <div class="col-6">
                            <a id="del_cong_close" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Leave Modal -->