<!-- Main Wrapper -->
<div class="main-wrapper">
    <div class="account-content">
        <!-- <a href="job-list.html" class="btn btn-primary apply-btn">Apply Job</a> -->
        <div class="container">
        
            <!-- Account Logo -->
            <div class="account-logo">
                <a href="index.html"><img src="assets/img/logo.png" alt="Dreamguy's Technologies"></a>
            </div>
            <!-- /Account Logo -->
            
            <div class="account-box">
                <div class="account-wrapper">
                    <h3 class="account-title">Register</h3>
                    <p class="account-subtitle">Access to our dashboard</p>
                    
                    <!-- Account Form -->
                    <!-- Account Form -->
                    <form [formGroup]="formEmploye" (ngSubmit)="saveEmploye()">
                        <div class="form-group">
                            <label>Nom</label>
                            <input class="form-control" type="text" formControlName="nom">
                            <span class="text-danger" *ngIf="formLogin.get('nom')?.hasError('required') && formLogin.get('nom')?.touched">
                                <p>Veuillez entrer votre nom</p>
                              </span>
                        </div>
                        <div class="form-group">
                            <label>Prenom</label>
                            <input class="form-control" type="text" formControlName="prenom">
                            <span class="text-danger" *ngIf="formLogin.get('prenom')?.hasError('required') && formLogin.get('prenom')?.touched">
                                <p>Veuillez entrer votre prenom</p>
                              </span>
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" type="text" formControlName="username">
                            <span class="text-danger" *ngIf="formLogin.get('username')?.hasError('required') && formLogin.get('username')?.touched">
                                <p>Veuillez entrer votre login</p>
                              </span>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password" formControlName="password">
                            <span class="text-danger" *ngIf="formLogin.get('password')?.hasError('required') && formLogin.get('password')?.touched">
                                <p>Veuillez entrer votre password</p>
                              </span>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="email" formControlName="email">
                            <span class="text-danger" *ngIf="formLogin.get('email')?.hasError('required') && formLogin.get('email')?.touched">
                                <p>Veuillez entrer votre email</p>
                              </span>
                        </div>
                        <div class="form-group">
                            <label>Téléphone</label>
                            <input class="form-control" type="number" formControlName="telephone">
                            <span class="text-danger" *ngIf="formLogin.get('telephone')?.hasError('required') && formLogin.get('telephone')?.touched">
                                <p>Veuillez entrer votre telephone</p>
                              </span>
                        </div>
                        
                       
                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" type="submit">Register</button>
                        </div>
                        <div class="account-footer">
                            <p>Already have an account? <a routerLink="../login">Login</a></p>
                        </div>
                    </form>
                    <!-- /Account Form -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Main Wrapper -->