        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Employés</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="../home">Tableau de bord</a></li>
                        <li class="breadcrumb-item active">Employés</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_employee"><i class="fa fa-plus"></i> Ajouter un employé</a>
                    <div class="view-icons">
                        <!--<a href="employees.html" class="grid-view btn btn-link"><i class="fa fa-th"></i></a>-->
                        <!--<a href="employees-list.html" class="list-view btn btn-link active"><i class="fa fa-bars"></i></a>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <!-- Search Filter -->
        <div class="row filter-row">
             <div class="col-sm-6 col-md-3">  
                <div class="form-group form-focus">
                    <label class="focus-label"><b>Recherche Par :</b></label>
                </div>
            </div>
            <!-- <div class="col-sm-6 col-md-3">  
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">ID Employé</label>
                </div>
            </div> -->
           
            <div class="col-sm-6 col-md-3">  
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating" [(ngModel)]="nomEmploye">
                    <label class="focus-label">Nom Employé</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">  
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating" [(ngModel)]="prenomEmploye">
                    <label class="focus-label">Prénom Employé</label>
                </div>
            </div>
           <!-- <div class="col-sm-6 col-md-3"> 
                <div class="form-group form-focus select-focus">
                    <select class="select floating"> 
                        <option>Select Designation</option>
                        <option>Web Developer</option>
                        <option>Web Designer</option>
                        <option>Android Developer</option>
                        <option>Ios Developer</option>
                    </select>
                    <label class="focus-label">Designation</label>
                </div>
            </div>-->
            
        </div>
        <!-- /Search Filter -->
        
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <!-- <th>ID Employee </th> -->
                                <th>Prénom</th>
                                <!-- <th>Login</th> -->
                                <!-- <th>Mot de passe</th> -->
                                <!--<th>Confirmer Mot de passe</th>-->
                                <!-- <th>Sex</th> -->
                                <!-- <th>Cin</th> -->
                                <th>Téléphone</th>
                                <th>Email</th>
                                <!-- <th>Adresse</th> -->
                                <!-- <th>Poste</th>
                                <th>Date embauche</th>
                                <th>Date naissance</th> -->
                               
                                <th class="text-center">Planning</th>
                                <th>Departement</th>
                                <!--<th>Contrat</th>-->
                                <th>Rôle</th>
                                <!--<th class="text-nowrap">Join Date</th>
                                <th>Role</th>-->
                                <th class="text-right no-sort">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="let employe of "> -->
                            <tr *ngFor="let employe of  utilisateurs | rechercheEmployeName: nomEmploye | rechercheEmployePrenom: prenomEmploye | paginate: { itemsPerPage: 5, currentPage: p}">
                            
                                <td>
                                    <h2 class="table-avatar">
                                        <a class="avatar" href="#" data-toggle="modal" data-target="#detail_employee" (click)= "patchValue(employe)"><img alt="" src="http://localhost:9190/api/employe/files/{{employe?.image}}"></a>
                                        <a>{{employe?.nom}} <span></span></a>
                                    </h2>
                                </td>       
                                <!-- <td>{{employe?.id}}</td> -->
                                <td>{{employe?.prenom}}</td>
                                <!-- <td>{{employe?.login}}</td> -->
                                <!-- <td>{{employe?.password}}</td> -->
                                <!--<td>{{employe.confirmPassword}}</td>-->
                                <!-- <td>{{employe?.sexs}}</td> -->
                                <!-- <td>{{employe?.cin}}</td> -->
                                <td>{{employe?.telephone}}</td>
                                <td>{{employe?.email}}</td>
                                <!-- <td>{{employe?.adresse}}</td> -->
                                <!-- <td>{{employe?.poste}}</td>
                                <td>{{employe?.date_Embauche | date: "dd-MM-yyyy"}}</td>
                                <td>{{employe?.date_Naissance | date: "dd-MM-yyyy"}}</td> -->
                                <!-- <td>{{employe?.planning?.nom}}</td> -->
                                <td align="center">
                                    <div class="dropdown action-label">
                                        <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-dot-circle-o text-danger"></i> {{employe?.planning?.nom}}
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" >
                                            <a class="dropdown-item" *ngFor="let planning of plannings" (click)="changePlanning(employe,planning?.id)" ><i class="fa fa-dot-circle-o text-danger"></i> {{ planning?.nom }}</a>
                                        </div>
                                    </div>
                                </td>
                                <td>{{employe?.departement?.nom}}</td>
                                <td>{{employe?.role}}</td>
                                <!--<td>{{employe?.contrat?.type_contrat}}</td>-->

                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_employee" (click)= "patchValue(employe)"><i class="fa fa-pencil m-r-5"></i> Éditer</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#detail_employee" (click)= "patchValue(employe)"><i class="fa fa-eye m-r-5"></i> Détails</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#delete_employee"  (click)="sendIdToDelete(employe)"><i class="fa fa-trash-o m-r-5"></i> Effacer</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
  
                        </tbody>
                    </table>
                    <pagination-controls class="my-pagination" (pageChange)="p = $event"   previousLabel="Précédent"
                    nextLabel="Suivant " ></pagination-controls>
                </div>
            </div>
        </div>
    
    <!-- Add Employee Modal -->
    <div id="add_employee" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajouter un employé</h5>
                    <button type="button" class="close" data-dismiss="modal" id="add_emp_close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formEmploye" (ngSubmit)="saveEmployee()">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Nom <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" formControlName="nom" placeholder="Nom">
                                    <span class="text-danger" *ngIf="formEmploye.get('nom')?.hasError('required') && submitted">
                                        <p>Le nom est obligatoire</p>
                                      </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Prénom <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" formControlName="prenom" placeholder="Prénom">
                                    <span class="text-danger" *ngIf="formEmploye.get('prenom')?.hasError('required') && formEmploye.get('prenom')?.touched">
                                        <p>Le prénom est obligatoire</p>
                                      </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Login <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" formControlName="login" placeholder="Login">
                                    <span class="text-danger" *ngIf="formEmploye.get('login')?.hasError('required') && formEmploye.get('login')?.touched">
                                        <p>Le login est obligatoire</p>
                                      </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Mot de passe <span class="text-danger">*</span></label>
                                    <input class="form-control" type="password" formControlName="password" placeholder="Mot de passe">
                                    <span class="text-danger" *ngIf="formEmploye.get('password')?.hasError('minLength') && formEmploye.get('password')?.touched">
                                        <p>Le mot de passe est obligatoire et de minimum longueur 4 caractéres</p>
                                       </span>
                                </div>
                            </div>

                            <div class="col-sm-6"> 
                                <div class="form-group">
                                    <label class="col-form-label">Confirmer mot de passe <span class="text-danger">*</span></label>
                                    <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Confirmer mot de passe">
                                    <span class="text-danger" *ngIf="formEmploye.get('confirmPassword')?.hasError('minlength') && formEmploye.get('confirmPassword')?.touched">
                                        <p>Le mot de passe est obligatoire </p>
                                       </span>

                                       <span class="text-danger" *ngIf="testConfirmationPassword">
                                        <p>Le mot de passe doit etre identique</p>
                                       </span>
                                </div>
                            </div>
                    
                           <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Confirm Password</label>
                                    <input class="form-control" type="password">
                                </div>
                            </div>-->
                           <!-- <div class="col-sm-6">  
                                <div class="form-group">
                                    <label class="col-form-label">Employee ID <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" readonly formControlName="id">
                                </div>
                            </div>-->
<!-- 
                            <div class="form-group">
										<label class="d-block">Assignee</label>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="addition_assignee" id="addition_no_emp" value="option1" checked="">
											<label class="form-check-label" for="addition_no_emp">
											No assignee
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="addition_assignee" id="addition_all_emp" value="option2">
											<label class="form-check-label" for="addition_all_emp">
											All employees
											</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="addition_assignee" id="addition_single_emp" value="option3">
											<label class="form-check-label" for="addition_single_emp">
											Select Employee
											</label>
										</div>
										<div class="form-group" data-select2-id="26">
											<select class="select select2-hidden-accessible" data-select2-id="4" tabindex="-1" aria-hidden="true">
												<option data-select2-id="6">-</option>
												<option data-select2-id="33">Select All</option>
												<option data-select2-id="34">John Doe</option>
												<option data-select2-id="35">Richard Miles</option>
											</select><span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" data-select2-id="5" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-2pmj-container"><span class="select2-selection__rendered" id="select2-2pmj-container" role="textbox" aria-readonly="true" title="-">-</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
										</div>
									</div> -->

                            <div class="col-sm-6">

                            <div class="form-group">
                                <label class="col-form-label">Sex <span class="text-danger">*</span></label>
                                <div class="col-md-6" >
                                    <div class="">
                                        <label>
                                            <input type="radio" class="form-check-input" name="radiogender" value='male' (click)="changeSex($event)">&nbsp;Male
                                        </label><br>
                                        <label>
                                            <input type="radio" class="form-check-input" name="radiogender" value="female" (click)="changeSex($event)">&nbsp;Female
                                        </label>
                                    </div>
                                    <span class="text-danger" *ngIf="formEmploye.get('sexs')?.hasError('required') && formEmploye.get('sexs')?.touched">
                                        <p>Le sex est obligatoire</p>
                                      </span>
                                </div>
                            </div>
                        </div>

                            <div class="col-sm-6">  
                                <div class="form-group">
                                    <label class="col-form-label">Cin <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" formControlName="cin" placeholder="Cin">
                                    <span class="text-danger" *ngIf="formEmploye.get('cin')?.hasError('minLength') && formEmploye.get('cin')?.touched">
                                        <p>Le cin est obligatoire et doit comporter 8 caractères</p>
                                      </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Téléphone <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" formControlName="telephone" placeholder="Téléphone">
                                    <span class="text-danger" *ngIf="formEmploye.get('telephone')?.hasError('minLength') && formEmploye.get('telephone')?.touched">
                                        <p>Le numéro de téléphone est obligatoire et doit comporter 8 caractères</p>
                                      </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Email <span class="text-danger">*</span></label>
                                    <input class="form-control" type="email" formControlName="email" placeholder="Email">
                                    <span class="text-danger" *ngIf="formEmploye.get('email')?.hasError('required') && formEmploye.get('email')?.touched">
                                        <p>L'email est obligatoire</p>
                                      </span>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Poste <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" formControlName="poste" placeholder="Poste">
                                    <span class="text-danger" *ngIf="formEmploye.get('poste')?.hasError('required') && formEmploye.get('poste')?.touched">
                                        <p>Le poste est obligatoire</p>
                                      </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Date embauche <span class="text-danger">*</span></label>
                                    <input class="form-control" type="date" formControlName="date_Embauche">
                                    <span class="text-danger" *ngIf="formEmploye.get('date_Embauche')?.hasError('required') && formEmploye.get('date_debut')?.touched">
                                        <p>La date d'embauche est obligatoire</p>
                                      </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Date naissance <span class="text-danger">*</span></label>
                                    <input class="form-control" type="date" formControlName="date_Naissance">
                                    <span class="text-danger" *ngIf="formEmploye.get('date_Naissance')?.hasError('required') && formEmploye.get('date_Naissance')?.touched">
                                        <p>La date de naissance est obligatoire</p>
                                      </span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Adresse <span class="text-danger">*</span></label>
                                    <textarea class="form-control" formControlName="adresse" placeholder="Adresse"></textarea>
                                    <span class="text-danger" *ngIf="formEmploye.get('adresse')?.hasError('required') && formEmploye.get('adresse')?.touched">
                                        <p>L'adresse est obligatoire</p>
                                      </span>
                                </div>
                            </div>

                            <div class="col-sm-6">

                            <div class="form-group">
                                <label class="col-form-label">Image <span class="text-danger">*</span></label>
                                  <input class="form-control" width="400"
                                  height="341" type="file" name="file" (change)="onFileChanged($event)">
                                  <!-- <span class="text-danger" *ngIf="formEmploye.get('image')?.hasError('required') && formEmploye.get('image')?.touched"> -->
                                 <!-- <p>L'image est obligatoire</p> -->
                                    <!-- </span> -->
                            </div>
                              </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                <div class="toprow us-form us-form-select-wrap">
                                    <label class="col-form-label">Planning <span class="text-danger">*</span></label><br>
                                    <select class="" formControlName="planningID" style="width: 353px; height: 44px;">
                                        <option>Select Planning</option>
                                        <option *ngFor='let planning of plannings' value="{{planning?.id}}">{{planning?.nom}}</option>
                                        <span class="text-danger" *ngIf="formEmploye.get('planningID')?.hasError('required') && formEmploye.get('planningID')?.touched">
                                            <p>Le planning est obligatoire</p>
                                               </span>
                                    </select>
                                </div>
                            </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                <div class="form-group form-focus select-focus">
                                    <label class="col-form-label">Département <span class="text-danger">*</span></label><br>
                                    <select class="select floating" formControlName="departementID">
                                        <option>Select Département</option>
                                        <option *ngFor='let departement of departements' value="{{departement.id}}">{{departement.nom}}</option>
                                        <span class="text-danger" *ngIf="formEmploye.get('departementID')?.hasError('required') && formEmploye.get('departementID')?.touched">
                                            <p>Le département est obligatoire</p>
                                               </span>
                                    </select>
                                </div>
                            </div>
                            </div>
                            

                            <div class="col-sm-6">
                                <div class="form-group">
                                  <label class="col-form-label">Rôle <span class="text-danger">*</span></label>
                                  <div class="col-md-10">
                                      <div class="radio">
                                          <label>
                                              <input type="radio" name="radiorole" value="EMPLOYE" (click)="changeUser($event)"> Employe&nbsp;
                                          </label>
                                          <label>
                                              <input type="radio" name="radiorole" value="CHEFDEPARTEMENT" (click)="changeUser($event)"> Chef Departement
                                          </label>
                                      </div>
                                      <span class="text-danger" *ngIf="formEmploye.get('role')?.hasError('required') && formEmploye.get('role')?.touched">
                                          <p>le rôle des employes est obligatoire</p>
                                             </span>
                                  </div>
                              </div>
                          </div>

                            <!--<div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Contrat <span class="text-danger">*</span></label><br>
                                    <select class="select" formControlName="contratID">
                                        <option>Select Contrat</option>
                                        <option *ngFor='let contart of contrats' value="{{contrat.id}}">{{contrat.type_contrat}}</option>
                                        <span class="text-danger" *ngIf="formEmploye.get('contratID')?.hasError('required') && formEmploye.get('contratID')?.touched">
                                            <p>Le contrat est obligatoire</p>
                                               </span>
                                    </select>
                                </div>
                            </div>-->

                            <!--<div class="col-md-6">
                                <div class="form-group">
                                    <label>Designation <span class="text-danger">*</span></label>
                                    <select class="select" >
                                        <option>Select Designation</option>
                                        <option>Web Designer</option>
                                        <option>Web Developer</option>
                                        <option>Android Developer</option>
                                    </select>
                                </div>
                            </div>-->
                        </div>
                        
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Employee Modal -->
    
    <!-- Edit Employee Modal -->
    <div id="edit_employee" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Éditer un employee</h5>
                    <button type="button" class="close" data-dismiss="modal" id="edit_emp_close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formUpdateEmploye" (ngSubmit)="updateEmploye()">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Nom</label>
                                    <input class="form-control" type="text" formControlName="nom" placeholder="Nom">
                                    <span class="text-danger" *ngIf="formEmploye.get('nom')?.hasError('required') && formEmploye.get('nom')?.touched">
                                        <p>Veuillez entrer le nom</p>
                                      </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Prénom</label>
                                    <input class="form-control" type="text" formControlName="prenom" placeholder="Prénom">
                                    <span class="text-danger" *ngIf="formEmploye.get('prenom')?.hasError('required') && formEmploye.get('prenom')?.touched">
                                        <p>Veuillez entrer le prénom</p>
                                      </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Login </label>
                                    <input class="form-control" type="text" formControlName="login" placeholder="Login">
                                    <span class="text-danger" *ngIf="formEmploye.get('login')?.hasError('required') && formEmploye.get('login')?.touched">
                                        <p>Veuillez entrer le login</p>
                                      </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Mot de passe </label>
                                    <input class="form-control" type="password" formControlName="password" placeholder="Mot de passe">
                                    <span class="text-danger" *ngIf="formEmploye.get('password')?.hasError('minLength') && formEmploye.get('password')?.touched">
                                        <p>Veuillez entrer le mot de passe et de minimum longueur 4 caractéres</p>
                                       </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Confirmer mot de passe </label>
                                    <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Confirmer mot de passe">
                                    <span class="text-danger" *ngIf="formEmploye.get('confirmPassword')?.hasError('minLength') && formEmploye.get('confirmPassword')?.touched">
                                        <p>Veuillez entrer le mot de passe et doit etre identique</p>
                                       </span>
                                </div>
                            </div>
                    
                           <!-- <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Confirm Password</label>
                                    <input class="form-control" type="password">
                                </div>
                            </div>-->
                           <!-- <div class="col-sm-6">  
                                <div class="form-group">
                                    <label class="col-form-label">Employee ID <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" readonly formControlName="id">
                                </div>
                            </div>-->
                            <div class="col-sm-6">

                            <div class="form-group">
                                <label class="col-form-label">Sex</label>
                                <div class="col-md-6" >
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="radiogender" value='male' (click)="changeSexUpdate($event)">&nbsp;Male
                                        </label><br>
                                        <label>
                                            <input type="radio" name="radiogender" value="female" (click)="changeSexUpdate($event)">&nbsp;Female
                                        </label>
                                    </div>
                                    <span class="text-danger" *ngIf="formEmploye.get('sexs')?.hasError('required') && formEmploye.get('sexs')?.touched">
                                        <p>Veuillez choisir un sex</p>
                                      </span>
                                </div>
                            </div>
                        </div>

                            <div class="col-sm-6">  
                                <div class="form-group">
                                    <label class="col-form-label">Cin </label>
                                    <input class="form-control" type="text" formControlName="cin" placeholder="Cin">
                                    <span class="text-danger" *ngIf="formEmploye.get('cin')?.hasError('minLength') && formEmploye.get('cin')?.touched">
                                        <p>Veuillez entrer le cin et doit comporter 8 caractères</p>
                                      </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Téléphone</label>
                                    <input class="form-control" type="text" formControlName="telephone" placeholder="Téléphone">
                                    <span class="text-danger" *ngIf="formEmploye.get('telephone')?.hasError('minLength') && formEmploye.get('telephone')?.touched">
                                        <p>Veuillez entrer le numéro de téléphone et doit comporter 8 caractères</p>
                                      </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Email</label>
                                    <input class="form-control" type="email" formControlName="email" placeholder="Email">
                                    <span class="text-danger" *ngIf="formEmploye.get('email')?.hasError('required') && formEmploye.get('email')?.touched">
                                        <p>Veuillez entrer l'email</p>
                                      </span>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Poste </label>
                                    <input class="form-control" type="text" formControlName="poste" placeholder="Poste">
                                    <span class="text-danger" *ngIf="formEmploye.get('poste')?.hasError('required') && formEmploye.get('poste')?.touched">
                                        <p>Veuillez entrer le poste occupé</p>
                                      </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Date embauche </label>
                                    <input class="form-control" type="date" formControlName="date_Embauche">
                                    <span class="text-danger" *ngIf="formEmploye.get('date_Embauche')?.hasError('required') && formEmploye.get('date_debut')?.touched">
                                        <p>Veuillez entrer la date d'embauche</p>
                                      </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Date naissance </label>
                                    <input class="form-control" type="date" formControlName="date_Naissance">
                                    <span class="text-danger" *ngIf="formEmploye.get('date_Naissance')?.hasError('required') && formEmploye.get('date_Naissance')?.touched">
                                        <p>Veuillez entrer la date de naissance</p>
                                      </span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Adresse </label>
                                    <textarea class="form-control" formControlName="adresse" placeholder="Adresse"></textarea>
                                    <span class="text-danger" *ngIf="formEmploye.get('adresse')?.hasError('required') && formEmploye.get('adresse')?.touched">
                                        <p>Veuillez entrer l'adresse</p>
                                      </span>
                                </div>
                            </div>

                            <div class="col-sm-6">

                            <div class="form-group">
                                <label class="col-form-label">Image</label>
                                  <input class="form-control" width="400"
                                  height="341"  type="file" name="file" (change)="onFileChanged($event)">
                                  <!-- <span class="text-danger" *ngIf="formEmploye.get('image')?.hasError('required') && formEmploye.get('image')?.touched"> -->
                                 <!-- <p>Veuillez sélectionner une image</p> -->
                                    <!-- </span> -->
                            </div>
                              </div>
                              
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Planning </label><br>
                                <select class="select" formControlName="planningID">
                                    <option>Select Planning</option>
                                    <option *ngFor='let planning of plannings' value="{{planning.id}}">{{planning.nom}}</option>
                                    <span class="text-danger" *ngIf="formEmploye.get('planningID')?.hasError('required') && formEmploye.get('planningID')?.touched">
                                        <p>Veuillez sélectionner un planning</p>
                                      </span>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Département </label><br>
                                <select class="select" formControlName="departementID">
                                    <option>Select Département</option>
                                    <option *ngFor='let departement of departements' value="{{departement.id}}">{{departement.nom}}</option>
                                    <span class="text-danger" *ngIf="formEmploye.get('departementID')?.hasError('required') && formEmploye.get('departementID')?.touched">
                                        <p>Le département est obligatoire</p>
                                           </span>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                              <label class="col-form-label">Rôle</label>
                              <div class="col-md-10">
                                  <div class="radio">
                                      <label>
                                          <input type="radio" name="radiorole" value="EMPLOYE" (click)="changeUserUpdate($event)"> Employe&nbsp;
                                      </label>
                                      <label>
                                          <input type="radio" name="radiorole" value="CHEFDEPARTEMENT" (click)="changeUserUpdate($event)"> Chef Departement
                                      </label>
                                  </div>
                                  <span class="text-danger" *ngIf="formEmploye.get('role')?.hasError('required') && formEmploye.get('role')?.touched">
                                      <p>Veuillez choisir un rôle</p>
                                         </span>
                              </div>
                          </div>
                      </div>

                        <!--<div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Contrat <span class="text-danger">*</span></label><br>
                                    <select class="select" formControlName="contratID">
                                        <option>Select Contrat</option>
                                        <option *ngFor='let contart of contrats' value="{{contrat.id}}">{{contrat.type_contrat}}</option>
                                        <span class="text-danger" *ngIf="formEmploye.get('contratID')?.hasError('required') && formEmploye.get('contratID')?.touched">
                                            <p>Le contrat est obligatoire</p>
                                               </span>
                                    </select>
                                </div>
                            </div>-->

                            <!--<div class="col-md-6">
                                <div class="form-group">
                                    <label>Department <span class="text-danger">*</span></label>
                                    <select class="select">
                                        <option>Select Department</option>
                                        <option>Web Development</option>
                                        <option>IT Management</option>
                                        <option>Marketing</option>
                                    </select>
                                </div>
                            </div>-->
                            <!--<div class="col-md-6">
                                <div class="form-group">
                                    <label>Designation <span class="text-danger">*</span></label>
                                    <select class="select">
                                        <option>Select Designation</option>
                                        <option>Web Designer</option>
                                        <option>Web Developer</option>
                                        <option>Android Developer</option>
                                    </select>
                                </div>
                            </div>-->
                        </div>
                        
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Sauvegarder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Employee Modal -->

    <!-- Detail Employee Modal -->
    <div id="detail_employee" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" >
                <div class="modal-header">
                    <h5 class="modal-title">Employe Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-img-wrap edit-img">
                                    <img alt="" src="http://localhost:9190/api/employe/files/{{utilisateurToUpdate?.image}}">
                                    <div class="fileupload btn">
                                        <span class="btn-text"></span>
                                        <input class="upload" type="file">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nom</label>
                                            <input type="text" class="form-control" readonly value="{{utilisateurToUpdate?.nom}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control" readonly value="{{utilisateurToUpdate?.prenom}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Login</label>
                                            <!-- <div class="cal-icon"> -->
                                                <input class="form-control" type="text" readonly value="{{utilisateurToUpdate?.login}}">
                                            <!-- </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Mot de passe</label>
                                                <input class="form-control" type="text" readonly value="{{utilisateurToUpdate?.password}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" class="form-control" value="4487 Snowbird Lane">
                                </div>
                            </div> -->

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Sex</label>
                                    <input type="text" class="form-control" readonly value="{{utilisateurToUpdate?.sexs}}">
                                </div>
                            </div>

                                    <!-- <div class="col-sm-6">

                                        <div class="form-group">
                                            <label class="col-form-label">Sex<span class="text-danger">*</span></label>
                                            <div class="col-md-6" >
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="radiogender" value='male'>&nbsp;Male
                                                    </label><br>
                                                    <label>
                                                        <input type="radio" name="radiogender" value="female">&nbsp;Female
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div> -->

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Cin</label>
                                    <input type="text" class="form-control" readonly value="{{utilisateurToUpdate?.cin}}">
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Téléphone</label>
                                    <input type="text" class="form-control" readonly value="{{utilisateurToUpdate?.telephone}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" readonly value="{{utilisateurToUpdate?.email}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Poste</label>
                                    <input type="text" class="form-control" readonly value="{{utilisateurToUpdate?.poste}}">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date Embauche</label>
                                    <div class="cal-icon">
                                        <input class="form-control" type="text" readonly value="{{utilisateurToUpdate?.date_Embauche}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="row">  
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date Naissance</label>
                                    <div class="cal-icon">
                                        <input class="form-control" type="text" readonly value="{{utilisateurToUpdate?.date_Naissance}}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" class="form-control" readonly value="{{utilisateurToUpdate?.adresse}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Planning</label>
                                    <input type="text" class="form-control" readonly value="{{utilisateurToUpdate?.planning.nom}}">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Planning</label>
                                    <input type="text" class="form-control" readonly value="{{utilisateurToUpdate?.departement.nom}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Rôle</label>
                                <input type="text" class="form-control" readonly value="{{utilisateurToUpdate?.role}}">
                            </div>
                        </div>
                    </div>
                        
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Detail Employee Modal -->

    <!-- Delete Employee Modal -->
    <div  class="modal custom-modal fade" id="delete_employee" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Supprimer employé</h3>
                        <p>Voulez-vous vraiment supprimer?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a  (click) = "deleteEmp()" class="btn btn-primary continue-btn" >Effacer</a>
                            </div>
                            <div class="col-6">
                                <a  data-dismiss="modal" id="del_emp_close" class="btn btn-primary cancel-btn">Annuler</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Employee Modal -->



   <!-- <div class="col-sm-6 col-md-3" data-select2-id="18"> 
        <div class="form-group form-focus select-focus" data-select2-id="17">
            <select class="select floating select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true" formControlName="employe"> 
                <option value="" data-select2-id="3"> -- Select -- </option>
                <option value="id" data-select2-id="24" *ngFor > nom employe </option>

            </select><span class="select2 select2-container select2-container--default select2-container--open select2-container--focus select2-container--above" dir="ltr" data-select2-id="2" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="true" tabindex="0" aria-labelledby="select2-wbgl-container" aria-owns="select2-wbgl-results"><span class="select2-selection__rendered" id="select2-wbgl-container" role="textbox" aria-readonly="true" title=" -- Select -- "> -- Select -- </span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            <label class="focus-label">Status</label>
        </div>
    </div>-->