<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Jobs</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Jobs</li>
            </ul>
        </div>
        <div class="col-auto float-right ml-auto">
            <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_job"><i class="fa fa-plus"></i> Add Job</a>
        </div>
    </div>
</div>
<!-- /Page Header -->

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table mb-0 datatable">
                <thead>
                    <tr >
                        <th>#</th>
                        <th>Titre</th>
						<th>Departement</th>
                        <th>Date Debut</th>
                        <th>Date Fin</th>
						<th>Salaire</th>
                        <th>Job Type</th>
						<th>Expérience</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Applicants</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let candidature of candidatures | paginate: { itemsPerPage: 5, currentPage: p}">
                        <td>{{candidature.id}}</td>
						<td>{{candidature.titre}}</td>
						<td>{{candidature?.departement?.nom}}</td>
						<td>{{candidature.date_debut}}</td>
						<td>{{candidature.date_fin}}</td>
						<td>{{candidature.salaire}}</td>
						<td>{{candidature.type}}</td>
						<td>{{candidature.experience}}</td>
						<td>{{candidature.description}}</td>
						<td>{{candidature.status}}</td>

                        
                        <td><a class="btn btn-sm btn-primary">{{candidature.id}} Candidates</a></td>
                        <td class="text-right">
                            <div class="dropdown dropdown-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#edit_job" (click)="patchValue(candidature.id)"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#delete_job" (click)="sendIdToDelete(candidature.id)"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
			<pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="Précédent"
                    nextLabel="Suivant " ></pagination-controls>
        </div>
    </div>
</div>


				<!-- Add Job Modal -->
				<div id="add_job" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add Job</h5>
								<button type="button" class="close" data-dismiss="modal" id="add_candidature_close" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form [formGroup]="formCandidature" (ngSubmit)="saveCandidature()">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Titre</label>
												<input class="form-control" type="text" formControlName="titre">
											</div>
										</div>
										<div class="col-md-6">
											<!-- <div class="form-group">
												<label class="col-form-label">Département <span class="text-danger">*</span></label><br>
												<select class="select" (click)="selectDepartement($event)" >
													<option>Select Département</option>
													<option *ngFor='let departement of departements'  value="{{departement.id}}"   >{{departement.id+' '+departement.nom}}</option>
													<span class="text-danger" *ngIf="formCandidature.get('departementID')?.hasError('required') && formCandidature.get('departementID')?.touched">
														<p>Le département est obligatoire</p>
														   </span>
												</select>
											</div> -->


											<div class="form-group">
												<!-- <label class="col-form-label">Département <span class="text-danger">*</span></label><br> -->
												<select class="select" formControlName="departementID">
													<option>Select Département</option>
													<option *ngFor='let departement of departements' value="{{departement.id}}">{{departement.nom}}</option>
													<span class="text-danger" *ngIf="formCandidature.get('departementID')?.hasError('required') && formCandidature.get('departementID')?.touched">
														<p>Le département est obligatoire</p>
														   </span>
												</select>
											</div>
										</div>
									</div>

									
									
								

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Date Debut</label>
												<input class="form-control" value="" type="date" formControlName="date_debut">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Date Fin</label>
												<input class="form-control" value="" type="date" formControlName="date_fin">
											</div>
										</div>
									</div>
									<div class="row">
										
										<div class="col-md-6">
											<div class="form-group">
												<label>Salaire</label>
												<input type="text" class="form-control" formControlName="salaire">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Job Type</label>
												<select class="select" formControlName="type">
													<option value="Full Time">Full Time</option>
													<option value="Part Time">Part Time</option>
													<option value="Internship">Internship</option>
													<option value="Temporary">Temporary</option>
													<option value="Remote">Remote</option>
													<option value="Others">Others</option>
												</select>
											</div>
										</div>
									</div>

								
										
									
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Experience</label>
												<input class="form-control" type="text" formControlName="experience">
											</div>
										</div>
											<div class="col-md-6">
											<div class="form-group">
												<label>Status</label>
												<select class="select" formControlName="status">
													<option value="Open">Open</option>
													<option value="Closed">Closed</option>
													<option value="Cancelled">Cancelled</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label>Description</label>
												<textarea class="form-control" type="text" formControlName="description"></textarea>
											</div>
										</div>
										
									</div>
									

									
									

									
									
									
									<div class="submit-section">
										<button class="btn btn-primary submit-btn">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Add Job Modal -->
				
				<!-- Edit Job Modal -->
				<div id="edit_job" class="modal custom-modal fade" role="dialog">
					<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<button type="button" class="close" data-dismiss="modal" >&times;</button>
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Edit Job</h5>
								<button type="button" class="close" data-dismiss="modal" id="edit_candidature_close" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form [formGroup]="formUpdateCandidature" (ngSubmit)="updateCandidature()">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Titre</label>
												<input class="form-control" type="text" formControlName="titre">
											</div>
										</div>
										
									</div>

									<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-form-label">Département <span class="text-danger">*</span></label><br>
											<select class="select" formControlName="departementID" (change)="selectDepartement($event)">
												<option>Select Département</option>
												<option *ngFor='let departement of departements' value="{{departement.id}}" >{{departement.id }}</option>
												<span class="text-danger" *ngIf="formCandidature.get('departementID')?.hasError('required') && formCandidature.get('departementID')?.touched">
													<p>Le département est obligatoire</p>
													   </span>
											</select>
										</div>
									</div>
								</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Date Debut</label>
												<input class="form-control" value="" type="date" formControlName="date_debut">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Date Fin</label>
												<input class="form-control" value="" type="date" formControlName="date_fin">
											</div>
										</div>
									</div>
									<div class="row">
										
										<div class="col-md-6">
											<div class="form-group">
												<label>Salaire</label>
												<input type="text" class="form-control" formControlName="salaire">
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Job Type</label>
												<select class="select" formControlName="type">
													<option value="Full Time">Full Time</option>
													<option value="Part Time">Part Time</option>
													<option value="Internship">Internship</option>
													<option value="Temporary">Temporary</option>
													<option value="Remote">Remote</option>
													<option value="Others">Others</option>
												</select>
											</div>
										</div>
										</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Experience</label>
												<input class="form-control" type="text" formControlName="experience">
											</div>
										</div>
										
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Description</label>
												<textarea class="form-control" type="text" formControlName="description"></textarea>
											</div>
										</div>
										
									</div>
									<div class="row">

										<div class="col-md-6">
											<div class="form-group">
												<label>Status</label>
												<select class="select" formControlName="status">
													<option value="Open">Open</option>
													<option value="Closed">Closed</option>
													<option value="Cancelled">Cancelled</option>
												</select>
											</div>
										</div>
									</div>

									<div class="submit-section">
										<button class="btn btn-primary submit-btn">Save</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Edit Job Modal -->

				<!-- Delete Job Modal -->
				<div class="modal custom-modal fade" id="delete_job" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-header">
									<h3>Delete Job</h3>
									<p>Are you sure want to delete?</p>
								</div>
								<div class="modal-btn delete-action">
									<div class="row">
										<div class="col-6">
											<a (click)="deleteCandidature()" class="btn btn-primary continue-btn">Delete</a>
										</div>
										<div class="col-6">
											<a id="del_candidature_close" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Delete Job Modal -->